.cardBox {
    max-height: max-content;
    background-color: var(--tertiary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    text-align: center;
}

.cardImg {
    width: 40%;
}