.footer {
    background-color: var(--darker-black);
    padding: 1%;
}

.contactInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
}

.infoPositions {
    display: flex;
    justify-content: center;
}

.contactHeader {
    display: flex;
    justify-content: center;
}

a {
    color: inherit;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0;
}