.material-symbols-outlined {
    font-size: var(--step-4);
    margin: 1rem;
}

.material-symbols-outlined:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
}