header {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

.hero {
  background-image: url(./Hero.jpg);
  background-position: CENTER;
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.callToAction {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-top: 30rem;
  margin-bottom: 5rem;
  background-color: var(--Obg-color);
  border-radius: 1rem;
}

.cards {
  display: grid;
  width: 60%;
  column-gap: 10rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.cardsContainer {
  display: flex;
  justify-content: center;
}