:root {
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
  --step-4: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
  --step-5: clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem);

  --fg-color: #FFFFFF;
  --bg-color: #484A47;
  --darker-black: #363636;
  --primary-color: #7BC950;
  --secondary-color: #EE964B;
  --tertiary-color: #FBAF00;
  --quadrary-color: #EE4242;

  --Obg-color: rgba(72, 74, 71, 0.75);
}

html {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--fg-color);
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

p,
a {
  font-size: var(--step-0);
}